[user]
	name = Mariusz Skoneczko
	email = mariusz@skoneczko.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[alias]
	i = init
	co = checkout
	st = status
	br = branch
	nb = checkout -b
	ci = commit -m
	dh = diff HEAD
	a = add
	aa = add --all
